#menu-icon {
  font-size: 3rem;
  cursor: pointer;
  margin-right: 1.5rem;
  color: white;
}

.main-navigation__title {
  color: white;
}

.main-navigation__title a {
  text-decoration: none;
  color: white;
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 768px) {
  #menu-icon {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }
}
